<div class="register-container">
  <h2>Đăng ký</h2>
  <form (ngSubmit)="dangKy()">
    <div class="form-group">
      <label for="username">Tên người dùng:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required class="form-control" />
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" />
    </div>

    <div class="form-group">
      <label for="phone">Số điện thoại:</label>
      <input type="text" id="phone" [(ngModel)]="phone" name="phone" class="form-control" />
    </div>

    <div class="form-group">
      <label for="password">Mật khẩu:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required class="form-control" />
    </div>

    <div class="form-group">
      <label for="rePassword">Nhập lại mật khẩu:</label>
      <input type="password" id="rePassword" [(ngModel)]="rePassword" name="rePassword" required class="form-control" />
    </div>


    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Đăng ký</button>
    </div>
  </form>
</div>
